//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for view.

	@name			<%- name %>
	@project 	<%- project %>
	@author 	<%- author %>
	@since		<%- now %>
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.view--<%= name %>
	span <%= name %>
