//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			<%- name %>
	@project 	<%- project %>
	@author 	<%- author %>
	@since		<%- now %>
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="$css.component")
	span <%= name %>
